{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Una API para gestionar la documentación de Mintlify y acceder a recursos.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Activar actualización",
        "description": "Pone en cola una actualización de despliegue para tu proyecto de documentación. Devuelve un ID de estado que puedes usar para seguir el progreso de la actualización. La actualización se activa desde la rama de despliegue configurada.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "Tu ID de proyecto. Puedes copiarlo desde la página de [claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu panel.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado de la actualización activada."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Obtener el estado de la actualización",
        "description": "Obtén el estado de una actualización a partir de su ID de estado",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "El ID de estado de una actualización activada.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "El ID de estado de la actualización activada."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "El ID del proyecto de documentación."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y hora especificadas en UTC"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Un ISODate con la fecha y hora especificadas en UTC"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "El estado de la actualización."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Resumen del estado de la actualización"
                    },
                    "logs": {
                      "type": "array",
                      "description": "Un array de registros.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio de la documentación que se está actualizando."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación en modo oscuro."
                    },
                    "author": {
                      "type": "string",
                      "description": "El autor de la actualización."
                    },
                    "commit": {
                      "type": "object",
                      "description": "Los detalles del commit",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "El SHA del commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La referencia del commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "El mensaje del commit."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Detalles sobre los archivos modificados.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "Archivos nuevos añadidos.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Archivos existentes que se modificaron.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Archivos que se eliminaron.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "El origen que activó la actualización.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "El encabezado Authorization espera un Token Bearer. Usa una clave de API de administrador (con el prefijo `mint_`). Esta es una clave secreta del lado del servidor. Genera una en la [página de claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu panel."
      }
    }
  }
}