{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Una API para gestionar la documentación y acceder a los recursos de Mintlify.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Iniciar actualización",
        "description": "Pone en cola una actualización de despliegue para tu proyecto de documentación. Devuelve un ID de estado que puede utilizarse para seguir el progreso de la actualización. La actualización se inicia desde tu rama de despliegue configurada.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "El ID de tu proyecto. Puedes copiarlo desde la página de [claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) en tu panel de control.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Una respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "El ID de estado de la actualización iniciada."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Consultar el estado de la actualización",
        "description": "Obtener el estado de una actualización mediante su ID de estado",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "El ID de estado de una actualización iniciada.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Una respuesta correcta",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "El ID del estado de la actualización iniciada."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "El ID del proyecto de documentación."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Un valor ISODate con la fecha y hora especificadas en UTC."
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Un valor ISODate con la fecha y hora especificadas en UTC."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "El estado de la actualización."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Resumen del estado de la actualización."
                    },
                    "logs": {
                      "type": "array",
                      "description": "Una matriz de registros.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "El subdominio de la documentación que se está actualizando."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Una captura de pantalla de la documentación en modo oscuro."
                    },
                    "author": {
                      "type": "string",
                      "description": "El autor de la actualización."
                    },
                    "commit": {
                      "type": "object",
                      "description": "Detalles del commit.",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "El SHA del commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "La referencia (ref) del commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "El mensaje del commit."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Detalles de los archivos modificados.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "Archivos nuevos agregados.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Archivos existentes modificados.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Archivos eliminados.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "El origen del activador de actualización.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "El encabezado Authorization requiere un token Bearer. Utiliza una clave de API de administrador (con el prefijo `mint_`). Esta es una clave secreta que debe permanecer en el servidor. Genera una en la [página de claves de API](https://dashboard.mintlify.com/settings/organization/api-keys) de tu panel de control."
      }
    }
  }
}