{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "Une API pour les opérations administratives, notamment les mises à jour de la documentation et la gestion des agents.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent/{projectId}/job": {
      "post": {
        "summary": "Créer une tâche d’agent",
        "description": "Crée une nouvelle tâche d’agent capable de générer et de modifier la documentation à partir des messages et des informations de branche fournis.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page des [clés API](https://dashboard.mintlify.com/settings/organization/api-keys) dans votre tableau de bord."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "branch",
                  "messages"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "Le nom de la branche Git sur laquelle l’agent doit travailler. Elle sera créée automatiquement si elle n’existe pas."
                  },
                  "messages": {
                    "type": "array",
                    "description": "Une liste de messages à fournir à l’agent. Une invite système par défaut est toujours ajoutée automatiquement au début. En général, vous n’avez donc besoin d’inclure que des messages utilisateur.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user"
                          ],
                          "description": "Le rôle de l’expéditeur du message. Utilisez `user` pour les instructions de tâche. Utilisez `system` pour ajouter des instructions supplémentaires qui seront ajoutées après l’invite système par défaut (sans la remplacer)."
                        },
                        "content": {
                          "type": "string",
                          "description": "Le contenu du message."
                        }
                      }
                    }
                  },
                  "asDraft": {
                    "type": "boolean",
                    "default": true,
                    "description": "Détermine si la pull request est créée en mode brouillon ou non. Si la valeur est true, une pull request brouillon est créée. Si la valeur est false, une pull request standard (non brouillon), prête pour la révision, est créée."
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet",
                    "description": "Le modèle d’IA à utiliser pour la tâche d’agent. Utilisez `sonnet` pour un traitement plus rapide et plus économique. Utilisez `opus` pour un traitement plus performant, mais plus lent."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tâche d’agent créée avec succès (réponse en flux). L’en-tête X-Session-Id est renvoyé dans la réponse",
            "headers": {
              "X-Message-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Identifiant du message pour la tâche créée"
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Réponse en flux contenant les détails d’exécution et les résultats de la tâche d’agent."
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "Récupérer une tâche d’agent par ID",
        "description": "Récupère les détails et le statut d’une tâche d’agent spécifique à partir de son ID.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page des [clés API](https://dashboard.mintlify.com/settings/organization/api-keys) dans votre tableau de bord."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’identifiant unique de la tâche d’agent à récupérer."
          }
        ],
        "responses": {
          "200": {
            "description": "Détails de la tâche d’agent récupérés avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "Le sous-domaine auquel appartient cette session."
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Le sous-domaine auquel appartient cette session."
                    },
                    "branch": {
                      "type": "string",
                      "description": "Nom de la branche Git sur laquelle les modifications ont été apportées.",
                      "nullable": true
                    },
                    "haulted": {
                      "type": "boolean",
                      "description": "Indique si l’exécution de la session a été interrompue."
                    },
                    "haultReason": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "github_missconfigured",
                        "error"
                      ],
                      "description": "Motif de l’arrêt de la session."
                    },
                    "pullRequestLink": {
                      "type": "string",
                      "description": "Lien vers la pull request créée."
                    },
                    "messageToUser": {
                      "type": "string",
                      "description": "Message destiné à l’utilisateur concernant l’issue de la session."
                    },
                    "todos": {
                      "type": "array",
                      "description": "Liste des tâches à faire de la session.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "Brève description de la tâche."
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "in_progress",
                              "completed",
                              "cancelled"
                            ],
                            "description": "Statut actuel de la tâche."
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "Niveau de priorité de la tâche."
                          },
                          "id": {
                            "type": "string",
                            "description": "Identifiant unique de la tâche à faire."
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Horodatage de création de la session."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/jobs": {
      "get": {
        "summary": "Récupérer toutes les tâches d’agent",
        "description": "Récupère toutes les tâches d’agent pour le domaine spécifié, y compris leur statut et leurs détails.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "L’ID de votre projet. Vous pouvez le copier depuis la page des [clés API](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
          }
        ],
        "responses": {
          "200": {
            "description": "Toutes les tâches d’agent ont été récupérées avec succès",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allSessions": {
                      "type": "array",
                      "description": "Tableau de toutes les sessions de l’agent pour le domaine.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "Le sous-domaine auquel cette session appartient."
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "Le sous-domaine auquel cette session appartient."
                          },
                          "branch": {
                            "type": "string",
                            "description": "Nom de la branche Git où les modifications ont été effectuées.",
                            "nullable": true
                          },
                          "haulted": {
                            "type": "boolean",
                            "description": "Indique si l’exécution de la session a été arrêtée."
                          },
                          "haultReason": {
                            "type": "string",
                            "enum": [
                              "completed",
                              "github_missconfigured",
                              "error"
                            ],
                            "description": "Raison de l’arrêt de la session."
                          },
                          "pullRequestLink": {
                            "type": "string",
                            "description": "Lien vers la pull request créée."
                          },
                          "messageToUser": {
                            "type": "string",
                            "description": "Message destiné à l’utilisateur concernant l’issue de la session."
                          },
                          "todos": {
                            "type": "array",
                            "description": "Liste des tâches à faire de la session.",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "Brève description de la tâche."
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "in_progress",
                                    "completed",
                                    "cancelled"
                                  ],
                                  "description": "Statut actuel de la tâche."
                                },
                                "priority": {
                                  "type": "string",
                                  "enum": [
                                    "high",
                                    "medium",
                                    "low"
                                  ],
                                  "description": "Niveau de priorité de la tâche."
                                },
                                "id": {
                                  "type": "string",
                                  "description": "Identifiant unique de la tâche à faire."
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Horodatage de création de la session."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L’en-tête Authorization attend un Jeton d’authentification Bearer. Utilisez une clé API administrateur (préfixée par `mint_`). Il s’agit d’une clé secrète côté serveur. Générez-en une depuis la [page des clés API](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
      }
    }
  }
}