{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "Une API pour gérer la documentation Mintlify et accéder aux ressources.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "Lancer une mise à jour",
        "description": "Place en file d’attente une mise à jour du déploiement pour votre projet de documentation. Renvoie un identifiant d’état qui peut être utilisé pour suivre la progression de la mise à jour. La mise à jour est déclenchée à partir de la branche de déploiement que vous avez configurée.",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "L’identifiant de votre projet. Vous pouvez le copier depuis la page [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Réponse en cas de réussite",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "L’identifiant d’état de la mise à jour déclenchée."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "Récupérer l’état de la mise à jour",
        "description": "Récupérer l’état d’une mise à jour à partir de son identifiant d’état",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "L’identifiant d’état d’une mise à jour déclenchée.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Réponse en cas de réussite",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "Identifiant d’état de la mise à jour déclenchée."
                    },
                    "projectId": {
                      "type": "string",
                      "description": "Identifiant du projet de documentation."
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "Valeur ISODate correspondant à la date et à l’heure spécifiées en UTC."
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "Valeur ISODate correspondant à la date et à l’heure spécifiées en UTC."
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "État de la mise à jour."
                    },
                    "summary": {
                      "type": "string",
                      "description": "Résumé de l’état de la mise à jour."
                    },
                    "logs": {
                      "type": "array",
                      "description": "Tableau de journaux.",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "Sous-domaine de la documentation en cours de mise à jour."
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "Capture d’écran de la documentation."
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "Capture d’écran de la documentation."
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "Capture d’écran de la documentation en mode sombre."
                    },
                    "author": {
                      "type": "string",
                      "description": "Auteur de la modification."
                    },
                    "commit": {
                      "type": "object",
                      "description": "Détails du commit.",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "SHA du commit."
                        },
                        "ref": {
                          "type": "string",
                          "description": "Référence du commit."
                        },
                        "message": {
                          "type": "string",
                          "description": "Message du commit."
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "Détails des fichiers modifiés.",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "Nouveaux fichiers ajoutés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "Fichiers existants modifiés.",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "Fichiers supprimés.",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "Origine du déclencheur de mise à jour.",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "L’en-tête Authorization requiert un jeton Bearer. Utilisez une clé API d’administrateur (préfixée par `mint_`). Il s’agit d’une clé secrète côté serveur. Générez-en une depuis la [page des clés d’API](https://dashboard.mintlify.com/settings/organization/api-keys) de votre tableau de bord."
      }
    }
  }
}