{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "用于执行管理操作的 API，包括文档更新和代理管理。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent/{projectId}/job": {
      "post": {
        "summary": "创建代理任务",
        "description": "创建新的代理任务，用于根据提供的消息和分支信息生成和编辑文档。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可在控制台的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "branch",
                  "messages"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "代理要处理的 Git 分支名称；如果该分支不存在，将会自动创建。"
                  },
                  "messages": {
                    "type": "array",
                    "description": "提供给代理的消息列表。默认的系统提示会始终自动添加在最前面，因此通常只需包含用户消息。",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user"
                          ],
                          "description": "消息发送者的角色。任务说明请使用 `user` 角色。使用 `system` 可添加附加说明，这些说明会追加在默认系统提示之后（不会替换默认提示）。"
                        },
                        "content": {
                          "type": "string",
                          "description": "消息内容。"
                        }
                      }
                    }
                  },
                  "asDraft": {
                    "type": "boolean",
                    "default": true,
                    "description": "控制拉取请求是以草稿模式还是常规模式创建。为 true 时，会创建草稿拉取请求；为 false 时，会创建可供审核的常规（非草稿）拉取请求。"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet",
                    "description": "用于该代理任务的 AI 模型。使用 `sonnet` 可获得更快、成本更低的处理；使用 `opus` 可获得更强大但速度较慢的处理能力。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "代理任务创建成功（流式响应）。响应中会返回 X-Session-Id 响应头。",
            "headers": {
              "X-Message-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "为已创建任务生成的消息 ID"
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "以流式方式返回的响应，其中包含代理任务的执行详情和结果。"
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "按 ID 获取代理任务",
        "description": "通过代理任务 ID 获取该任务的详细信息和状态。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可在控制台的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面中复制。"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要获取的代理任务的唯一标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "代理任务详情获取成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "此会话所属的子域名。"
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "本次会话对应的子域名。"
                    },
                    "branch": {
                      "type": "string",
                      "description": "用于进行更改的 Git 分支名称。",
                      "nullable": true
                    },
                    "haulted": {
                      "type": "boolean",
                      "description": "会话是否已被中止。"
                    },
                    "haultReason": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "github_missconfigured",
                        "error"
                      ],
                      "description": "会话被中止的原因。"
                    },
                    "pullRequestLink": {
                      "type": "string",
                      "description": "指向已创建的 pull request 的链接。"
                    },
                    "messageToUser": {
                      "type": "string",
                      "description": "向用户说明本次会话结果的消息。"
                    },
                    "todos": {
                      "type": "array",
                      "description": "会话中的待办事项列表。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "任务的简要描述。"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "in_progress",
                              "completed",
                              "cancelled"
                            ],
                            "description": "任务的当前状态。"
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "任务的优先级等级。"
                          },
                          "id": {
                            "type": "string",
                            "description": "待办任务的唯一标识符。"
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "会话创建时的时间戳。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/jobs": {
      "get": {
        "summary": "获取全部代理任务",
        "description": "获取指定域名下的所有代理任务，以及它们的状态和详细信息。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可以在控制台的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面中复制。"
          }
        ],
        "responses": {
          "200": {
            "description": "已成功检索到所有代理任务。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allSessions": {
                      "type": "array",
                      "description": "该域名下所有代理会话组成的数组。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "此会话所属的子域名。"
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "此会话所属的子域名。"
                          },
                          "branch": {
                            "type": "string",
                            "description": "进行更改的 Git 分支名称。",
                            "nullable": true
                          },
                          "haulted": {
                            "type": "boolean",
                            "description": "会话执行是否已被中止。"
                          },
                          "haultReason": {
                            "type": "string",
                            "enum": [
                              "completed",
                              "github_missconfigured",
                              "error"
                            ],
                            "description": "会话终止的原因。"
                          },
                          "pullRequestLink": {
                            "type": "string",
                            "description": "指向已创建拉取请求的链接。"
                          },
                          "messageToUser": {
                            "type": "string",
                            "description": "用于向用户说明本次会话结果的消息。"
                          },
                          "todos": {
                            "type": "array",
                            "description": "会话中的待办事项列表。",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "任务的简要说明。"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "in_progress",
                                    "completed",
                                    "cancelled"
                                  ],
                                  "description": "任务的当前状态。"
                                },
                                "priority": {
                                  "type": "string",
                                  "enum": [
                                    "high",
                                    "medium",
                                    "low"
                                  ],
                                  "description": "任务的优先级。"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "该待办事项的唯一标识符。"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "会话创建时的时间戳。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 请求头需要携带 Bearer token。请使用管理员 API key（以 `mint_` 开头）。这是仅供服务端使用的密钥。你可以在控制台的 [API keys 页面](https://dashboard.mintlify.com/settings/organization/api-keys) 中生成一个。"
      }
    }
  }
}