{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Admin API",
    "description": "用于执行管理操作的 API，包括文档更新和代理管理。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/agent/{projectId}/job": {
      "post": {
        "summary": "创建代理任务",
        "description": "创建一个新的代理任务，该任务可根据提供的消息和分支信息生成并编辑文档。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "您的项目 ID。可从控制台的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "branch",
                  "messages"
                ],
                "properties": {
                  "branch": {
                    "type": "string",
                    "description": "代理应使用的 Git 分支名称；如果该分支不存在，将自动创建"
                  },
                  "messages": {
                    "type": "array",
                    "description": "提供给代理的消息列表。系统始终会自动在前面添加默认的 system 提示，因此通常只需包含 user 消息。",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "user"
                          ],
                          "description": "消息发送者的角色。任务说明请使用 `user`。如需添加补充说明，请使用 `system`，这些说明会附加在默认系统提示之后（不会替代默认提示）。"
                        },
                        "content": {
                          "type": "string",
                          "description": "消息内容。"
                        }
                      }
                    }
                  },
                  "asDraft": {
                    "type": "boolean",
                    "default": true,
                    "description": "控制拉取请求是以草稿模式还是非草稿模式创建。为 true 时，会创建草稿拉取请求。为 false 时，会创建可直接进入评审的常规（非草稿）拉取请求。"
                  },
                  "model": {
                    "type": "string",
                    "enum": [
                      "sonnet",
                      "opus"
                    ],
                    "default": "sonnet",
                    "description": "代理任务使用的 AI 模型。使用 `sonnet` 可获得更快、成本更低的处理；使用 `opus` 可获得能力更强但速度较慢的处理。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "代理任务创建成功（流式响应）。响应中会返回 X-Session-Id 标头",
            "headers": {
              "X-Message-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "已创建任务的消息标识符"
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "包含代理任务执行详情和结果的流式响应。"
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/job/{id}": {
      "get": {
        "summary": "根据 ID 获取代理任务",
        "description": "根据 ID 检索特定代理任务的详细信息和状态。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "您的项目 ID。可从控制台的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "要检索的代理任务的唯一标识符。"
          }
        ],
        "responses": {
          "200": {
            "description": "已成功检索代理任务详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "sessionId": {
                      "type": "string",
                      "description": "此会话所属的子域名。"
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "此会话所属的子域名。"
                    },
                    "branch": {
                      "type": "string",
                      "description": "发生更改的 Git 分支名称。",
                      "nullable": true
                    },
                    "haulted": {
                      "type": "boolean",
                      "description": "会话执行是否已中止。"
                    },
                    "haultReason": {
                      "type": "string",
                      "enum": [
                        "completed",
                        "github_missconfigured",
                        "error"
                      ],
                      "description": "会话中止的原因。"
                    },
                    "pullRequestLink": {
                      "type": "string",
                      "description": "已创建拉取请求的链接。"
                    },
                    "messageToUser": {
                      "type": "string",
                      "description": "向用户说明会话结果的消息。"
                    },
                    "todos": {
                      "type": "array",
                      "description": "会话中的待办事项列表。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "content": {
                            "type": "string",
                            "description": "任务的简要描述。"
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "pending",
                              "in_progress",
                              "completed",
                              "cancelled"
                            ],
                            "description": "任务的当前状态。"
                          },
                          "priority": {
                            "type": "string",
                            "enum": [
                              "high",
                              "medium",
                              "low"
                            ],
                            "description": "任务的优先级。"
                          },
                          "id": {
                            "type": "string",
                            "description": "待办事项的唯一标识符。"
                          }
                        }
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "会话创建时的时间戳。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/agent/{projectId}/jobs": {
      "get": {
        "summary": "获取所有代理任务",
        "description": "检索指定域名的所有代理任务，包括其状态和详细信息。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的项目 ID。可在控制台的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面中复制。"
          }
        ],
        "responses": {
          "200": {
            "description": "已成功检索所有代理任务",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "allSessions": {
                      "type": "array",
                      "description": "该域名下所有代理会话的数组。",
                      "items": {
                        "type": "object",
                        "properties": {
                          "sessionId": {
                            "type": "string",
                            "description": "此会话所属的子域名。"
                          },
                          "subdomain": {
                            "type": "string",
                            "description": "此会话所属的子域名。"
                          },
                          "branch": {
                            "type": "string",
                            "description": "进行更改的 Git 分支名称。",
                            "nullable": true
                          },
                          "haulted": {
                            "type": "boolean",
                            "description": "会话执行是否已中止。"
                          },
                          "haultReason": {
                            "type": "string",
                            "enum": [
                              "completed",
                              "github_missconfigured",
                              "error"
                            ],
                            "description": "会话中止的原因。"
                          },
                          "pullRequestLink": {
                            "type": "string",
                            "description": "已创建的拉取请求链接。"
                          },
                          "messageToUser": {
                            "type": "string",
                            "description": "向用户说明会话结果的消息。"
                          },
                          "todos": {
                            "type": "array",
                            "description": "该会话中的待办事项列表。",
                            "items": {
                              "type": "object",
                              "properties": {
                                "content": {
                                  "type": "string",
                                  "description": "任务的简要说明。"
                                },
                                "status": {
                                  "type": "string",
                                  "enum": [
                                    "pending",
                                    "in_progress",
                                    "completed",
                                    "cancelled"
                                  ],
                                  "description": "任务的当前状态。"
                                },
                                "priority": {
                                  "type": "string",
                                  "enum": [
                                    "high",
                                    "medium",
                                    "low"
                                  ],
                                  "description": "任务的优先级。"
                                },
                                "id": {
                                  "type": "string",
                                  "description": "待办事项的唯一标识符。"
                                }
                              }
                            }
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "会话创建时的时间戳。"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 标头应使用 Bearer 令牌。请使用管理员 API 密钥（前缀为 `mint_`）。这是服务器端密钥，请妥善保管。可在控制台的 [API keys page](https://dashboard.mintlify.com/settings/organization/api-keys) 中生成。"
      }
    }
  }
}