{
  "openapi": "3.1.0",
  "info": {
    "title": "Mintlify Analytics Export API",
    "version": "1.0.0",
    "description": "用于导出文档 analytics 数据的 API"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com",
      "description": "生产环境"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 标头需要使用 Bearer 令牌。请使用管理员 API 密钥（前缀为 `mint_`）。这是服务器端的私密密钥。可在控制台的 [API keys page](https://dashboard.mintlify.com/settings/organization/api-keys) 生成。"
      }
    },
    "schemas": {
      "projectId": {
        "type": "string",
        "description": "你的项目 ID。可从控制台中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。"
      },
      "FeedbackResponse": {
        "type": "object",
        "properties": {
          "feedback": {
            "type": "array",
            "description": "反馈条目列表。",
            "items": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "唯一反馈标识符。"
                    },
                    "path": {
                      "type": "string",
                      "description": "源文档的路径或 URL。"
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户反馈评论的内容。"
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "提交反馈时的时间戳。"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual"
                      ],
                      "description": "反馈来源。`code_snippet` 表示对代码块的反馈，`contextual` 表示页面级反馈。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "反馈当前的审核状态。"
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "唯一反馈标识符。"
                    },
                    "path": {
                      "type": "string",
                      "description": "源文档的路径或 URL。"
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户反馈评论的内容。"
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "提交反馈时的时间戳。"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual"
                      ],
                      "description": "反馈来源。`code_snippet` 表示对代码块的反馈，`contextual` 表示页面级反馈。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "反馈当前的审核状态。"
                    },
                    "helpful": {
                      "type": "boolean",
                      "description": "用户是否认为内容有帮助。"
                    },
                    "contact": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户提供的用于后续跟进的电子邮件地址。"
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status",
                    "helpful",
                    "contact"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "唯一反馈标识符。"
                    },
                    "path": {
                      "type": "string",
                      "description": "源文档的路径或 URL。"
                    },
                    "comment": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "用户反馈评论的内容。"
                    },
                    "createdAt": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "提交反馈时的时间戳。"
                    },
                    "source": {
                      "type": "string",
                      "enum": [
                        "code_snippet",
                        "contextual"
                      ],
                      "description": "反馈来源。`code_snippet` 表示对代码块的反馈，`contextual` 表示页面级反馈。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "pending",
                        "in_progress",
                        "resolved",
                        "dismissed"
                      ],
                      "description": "反馈当前的审核状态。"
                    },
                    "code": {
                      "type": "string",
                      "description": "该反馈关联的代码片段。"
                    },
                    "filename": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "与代码片段关联的文件名。"
                    },
                    "lang": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "代码片段所用的编程语言。"
                    }
                  },
                  "required": [
                    "id",
                    "path",
                    "comment",
                    "createdAt",
                    "source",
                    "status",
                    "code",
                    "filename",
                    "lang"
                  ]
                }
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "用于获取下一页结果的游标。如果没有更多结果，则为 null。"
          },
          "hasMore": {
            "type": "boolean",
            "description": "此页之后是否还有更多结果。"
          }
        },
        "required": [
          "feedback",
          "nextCursor",
          "hasMore"
        ]
      },
      "AnalyticsErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "说明出错原因的错误消息。"
          },
          "details": {
            "type": "array",
            "description": "有关该错误的更多详细信息。",
            "items": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "description": "对特定验证或处理错误的说明。"
                }
              },
              "required": [
                "message"
              ]
            }
          }
        },
        "required": [
          "error"
        ]
      },
      "AssistantConversationsResponse": {
        "type": "object",
        "properties": {
          "conversations": {
            "type": "array",
            "description": "助手对话列表。",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "唯一的对话标识符。"
                },
                "timestamp": {
                  "type": "string",
                  "description": "对话发生时的时间戳。"
                },
                "query": {
                  "type": "string",
                  "description": "用户向助手提出的问题。"
                },
                "response": {
                  "type": "string",
                  "description": "助手的回答。"
                },
                "sources": {
                  "type": "array",
                  "description": "回答中引用的文档页面。",
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "所引用文档页面的标题。"
                      },
                      "url": {
                        "type": "string",
                        "description": "所引用文档页面的 URL。"
                      }
                    },
                    "required": [
                      "title",
                      "url"
                    ]
                  }
                },
                "queryCategory": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "description": "对话的自动分配分类（如适用）。"
                }
              },
              "required": [
                "id",
                "timestamp",
                "query",
                "response",
                "sources",
                "queryCategory"
              ]
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ],
            "description": "用于获取下一页结果的游标。如果没有更多结果，则为 null。"
          },
          "hasMore": {
            "type": "boolean",
            "description": "此页之后是否还有更多结果。"
          }
        },
        "required": [
          "conversations",
          "nextCursor",
          "hasMore"
        ]
      }
    },
    "parameters": {
      "projectId": {
        "schema": {
          "$ref": "#/components/schemas/projectId"
        },
        "required": true,
        "name": "projectId",
        "in": "path"
      }
    }
  },
  "paths": {
    "/api/external/v1/analytics/{projectId}/feedback": {
      "get": {
        "summary": "获取用户反馈",
        "description": "返回带可选筛选条件的分页用户反馈",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "code_snippet",
                "contextual"
              ],
              "description": "按反馈来源筛选"
            },
            "required": false,
            "name": "source",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "用于筛选的逗号分隔状态列表"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 50,
              "description": "每页最大结果数"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "分页游标"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "带分页信息的反馈数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackResponse"
                }
              }
            }
          },
          "400": {
            "description": "无效的查询参数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/external/v1/analytics/{projectId}/assistant": {
      "get": {
        "summary": "获取助手对话",
        "description": "返回分页的 AI 助手对话历史记录",
        "tags": [
          "Analytics"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/projectId"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateFrom",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 或 YYYY-MM-DD 格式的日期",
              "example": "2024-01-01"
            },
            "required": false,
            "name": "dateTo",
            "in": "query"
          },
          {
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 1000,
              "default": 100,
              "description": "每页最大结果数"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "ulid",
              "description": "分页游标（ULID 格式）"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "带分页信息的对话数据",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssistantConversationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "无效的查询参数",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "服务器错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnalyticsErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {}
}