{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Assistant API",
    "description": "一个可将 Mintlify 发现功能集成到你的产品中的 API。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/discovery"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/assistant/{domain}/message": {
      "post": {
        "summary": "助手消息 v1",
        "description": "为指定域生成助手响应消息。兼容 AI SDK v4。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的 `domain.mintlify.app` URL 中的域标识符。可在 dashboard URL 的末尾找到。例如，`dashboard.mintlify.com/organization/domain` 的域标识符是 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fp",
                  "messages"
                ],
                "properties": {
                  "fp": {
                    "type": "string",
                    "description": "用于跟踪对话会话的指纹标识符。匿名用户请使用 `anonymous`，或提供唯一的用户标识符。"
                  },
                  "threadId": {
                    "default": null,
                    "type": "string",
                    "description": "用于在多条消息之间保持对话连续性的可选标识符。提供后，系统可将后续消息关联到同一对话线程。当 `event.type === 'finish'` 时，响应会在 `event.threadId` 中返回 threadId。"
                  },
                  "messages": {
                    "type": "array",
                    "default": [
                      {
                        "id": "foobar",
                        "role": "user",
                        "content": "how do i get started",
                        "parts": [
                          {
                            "type": "text",
                            "text": "How do I get started"
                          }
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "消息的唯一标识符。"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "assistant",
                            "data",
                            "user"
                          ],
                          "description": "消息发送者的角色。"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "消息的创建时间戳。"
                        },
                        "content": {
                          "type": "string",
                          "description": "消息内容。"
                        },
                        "annotations": {
                          "type": "array",
                          "items": {},
                          "description": "消息的可选注释数组。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "reasoning"
                                    ]
                                  },
                                  "reasoning": {
                                    "type": "string"
                                  },
                                  "details": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "text"
                                              ]
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "signature": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "text"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "redacted"
                                              ]
                                            },
                                            "data": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "data"
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "reasoning",
                                  "details"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "step-start"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "source"
                                    ]
                                  },
                                  "source": {
                                    "type": "object",
                                    "properties": {
                                      "sourceType": {
                                        "type": "string",
                                        "enum": [
                                          "url"
                                        ]
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "sourceType",
                                      "id",
                                      "url"
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "source"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "tool-invocation"
                                    ]
                                  },
                                  "toolInvocation": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "partial-call"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "call"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "result"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {},
                                          "result": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args",
                                          "result"
                                        ]
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "toolInvocation"
                                ]
                              }
                            ]
                          },
                          "description": "由不同类型的消息部分组成的数组，包括文本、推理、来源和工具调用。"
                        },
                        "experimental_attachments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "contentType": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "description": "消息的可选实验性附件数组。"
                        }
                      },
                      "required": [
                        "id",
                        "role",
                        "content",
                        "parts"
                      ]
                    },
                    "description": "对话中的消息数组。在前端，你通常会希望使用 @ai-sdk 包中 useChat 钩子的 handleSubmit 函数来追加用户消息并处理流式响应，而不是手动定义此数组中的对象，因为这些对象包含很多参数。"
                  },
                  "retrievalPageSize": {
                    "type": "number",
                    "default": 5,
                    "description": "用于生成响应的文档搜索结果数量。值越高，可提供的上下文越多，但也可能增加响应时间。建议值：5。"
                  },
                  "filter": {
                    "type": "object",
                    "default": null,
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "可选版本筛选器。"
                      },
                      "language": {
                        "type": "string",
                        "description": "可选语言筛选器。"
                      }
                    },
                    "description": "可选的搜索筛选条件。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "消息已成功生成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "响应对象，其中的数据流部分会按指定的状态、标头和内容进行格式化。更多信息，请参阅 AI SDK 文档：[ai-sdk.dev/docs/ai-sdk-ui/streaming-data](https://ai-sdk.dev/docs/ai-sdk-ui/streaming-data)。使用 [ai-sdk 的 useChat 钩子](https://ai-sdk.dev/docs/reference/ai-sdk-ui/use-chat#usechat) 处理响应流。"
                }
              }
            }
          }
        }
      }
    },
    "/v2/assistant/{domain}/message": {
      "post": {
        "summary": "助手消息 v2",
        "description": "为指定域生成助手响应消息。兼容 AI SDK v5+。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的 `domain.mintlify.app` URL 中的域标识符。可在 dashboard URL 的末尾找到。例如，`dashboard.mintlify.com/organization/domain` 的域标识符是 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fp",
                  "messages"
                ],
                "properties": {
                  "fp": {
                    "type": "string",
                    "description": "用于跟踪对话会话的指纹标识符。匿名用户请使用 `anonymous`，或提供唯一的用户标识符。"
                  },
                  "threadId": {
                    "default": null,
                    "type": "string",
                    "description": "用于在多条消息之间保持对话连续性的可选标识符。提供后，系统可将后续消息关联到同一对话线程中。当 `event.type === 'finish'` 时，响应中会以 `event.threadId` 的形式返回 `threadId`。"
                  },
                  "messages": {
                    "type": "array",
                    "default": [
                      {
                        "id": "foobar",
                        "role": "user",
                        "parts": [
                          {
                            "type": "text",
                            "text": "How do I get started"
                          }
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "消息的唯一标识符。"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "assistant",
                            "user"
                          ],
                          "description": "消息发送者的角色。"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "消息的创建时间戳。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "description": "文本内容部分。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "推理内容部分，可包含可选的提供程序元数据。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "reasoning"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "providerMetadata": {
                                    "type": "object",
                                    "description": "可选的提供程序专属元数据。"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "源 URL 参考部分。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "source-url"
                                    ]
                                  },
                                  "sourceId": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "providerMetadata": {
                                    "type": "object",
                                    "description": "可选的提供程序专属元数据。"
                                  }
                                },
                                "required": [
                                  "type",
                                  "sourceId",
                                  "url"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "文件附件部分。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "file"
                                    ]
                                  },
                                  "mediaType": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "filename": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "mediaType",
                                  "url"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "标记新步骤的开始。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "step-start"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          },
                          "description": "消息部分的数组。每个部分都包含一个类型以及该类型对应的字段。"
                        },
                        "metadata": {
                          "type": "object",
                          "description": "与消息关联的可选元数据。"
                        }
                      },
                      "required": [
                        "id",
                        "role",
                        "parts"
                      ]
                    },
                    "description": "对话中的消息数组。使用 @ai-sdk/react 包中 useChat 钩子的 handleSubmit 函数来管理消息和流式响应。"
                  },
                  "retrievalPageSize": {
                    "type": "number",
                    "default": 5,
                    "description": "用于生成响应的文档搜索结果数量。值越高，提供的上下文越多，但也可能增加响应时间。建议值：5。"
                  },
                  "filter": {
                    "type": "object",
                    "default": null,
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "可选的版本筛选条件。"
                      },
                      "language": {
                        "type": "string",
                        "description": "可选的语言筛选条件。"
                      },
                      "groups": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "用于筛选结果的可选组标识符数组。"
                      }
                    },
                    "description": "可选的搜索筛选条件。"
                  },
                  "context": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "code",
                            "textSelection"
                          ],
                          "description": "所提供上下文的类型。"
                        },
                        "value": {
                          "type": "string",
                          "description": "代码片段或选中的文本内容。"
                        },
                        "path": {
                          "type": "string",
                          "description": "源文件或页面的可选路径。"
                        },
                        "elementId": {
                          "type": "string",
                          "description": "包含该上下文的 UI 元素的可选标识符。"
                        }
                      },
                      "required": [
                        "type",
                        "value"
                      ]
                    },
                    "description": "提供给助手的可选上下文信息数组。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "消息生成成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "与 AI SDK v5 兼容的流式响应。使用 [@ai-sdk/react 的 useChat 钩子](https://ai-sdk.dev/docs/reference/ai-sdk-ui/use-chat#usechat) 处理响应流。"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search/{domain}": {
      "post": {
        "x-mint": {
          "mcp": {
            "enabled": true
          }
        },
        "summary": "搜索文档",
        "description": "通过可配置的筛选和分页，在文档中执行语义搜索和关键词搜索。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "你的 `domain.mintlify.app` URL 中的域标识符。可在 dashboard URL 的末尾找到。例如，`dashboard.mintlify.com/organization/domain` 的域标识符是 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "要针对文档内容执行的搜索 query。"
                  },
                  "pageSize": {
                    "type": "number",
                    "default": 10,
                    "description": "要返回的搜索结果数量。若未指定，则默认为 10。"
                  },
                  "filter": {
                    "type": "object",
                    "description": "用于缩小搜索结果范围的可选筛选参数。",
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "按文档版本筛选结果。"
                      },
                      "language": {
                        "type": "string",
                        "description": "按内容语言筛选搜索结果。"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "搜索结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "文档中与搜索条件匹配的内容。"
                      },
                      "path": {
                        "type": "string",
                        "description": "源文档的路径或 URL。"
                      },
                      "metadata": {
                        "type": "object",
                        "description": "搜索结果的附加元数据。"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 标头需要使用 Bearer 令牌。请使用助手 API 密钥（前缀为 `mint_dsc_`）。这是一个可安全用于客户端代码的公钥。请在 dashboard 的 [API keys 页面](https://dashboard.mintlify.com/settings/organization/api-keys) 生成。"
      }
    }
  }
}