{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify Assistant API",
    "description": "用于将 Mintlify Discover 功能集成到你产品中的 API。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/discovery"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/assistant/{domain}/message": {
      "post": {
        "summary": "助手消息 v1",
        "description": "为指定域生成助手的回复消息。兼容 AI SDK v4。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "来自你的 `domain.mintlify.app` URL 的域标识符。可以在仪表板 URL 的末尾找到。例如，`dashboard.mintlify.com/organization/domain` 的域标识符为 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fp",
                  "messages"
                ],
                "properties": {
                  "fp": {
                    "type": "string",
                    "description": "用于跟踪会话的指纹标识符。对匿名用户使用 \"anonymous\"，或提供唯一的用户标识符。"
                  },
                  "threadId": {
                    "default": null,
                    "type": "string",
                    "description": "一个可选标识符，用于在多条消息之间保持对话的连续性。提供该值时，系统可以将后续消息关联到同一会话线程。threadId 会在 event.type === 'finish' 的响应中以 event.threadId 返回。"
                  },
                  "messages": {
                    "type": "array",
                    "default": [
                      {
                        "id": "foobar",
                        "role": "user",
                        "content": "how do i get started",
                        "parts": [
                          {
                            "type": "text",
                            "text": "How do I get started"
                          }
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "消息的唯一标识符。"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "assistant",
                            "data",
                            "user"
                          ],
                          "description": "消息发送者的角色。"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "消息创建时的时间戳。"
                        },
                        "content": {
                          "type": "string",
                          "description": "消息的内容。"
                        },
                        "annotations": {
                          "type": "array",
                          "items": {},
                          "description": "消息的可选标注数组。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "reasoning"
                                    ]
                                  },
                                  "reasoning": {
                                    "type": "string"
                                  },
                                  "details": {
                                    "type": "array",
                                    "items": {
                                      "oneOf": [
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "text"
                                              ]
                                            },
                                            "text": {
                                              "type": "string"
                                            },
                                            "signature": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "text"
                                          ]
                                        },
                                        {
                                          "type": "object",
                                          "properties": {
                                            "type": {
                                              "type": "string",
                                              "enum": [
                                                "redacted"
                                              ]
                                            },
                                            "data": {
                                              "type": "string"
                                            }
                                          },
                                          "required": [
                                            "type",
                                            "data"
                                          ]
                                        }
                                      ]
                                    }
                                  }
                                },
                                "required": [
                                  "type",
                                  "reasoning",
                                  "details"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "step-start"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "source"
                                    ]
                                  },
                                  "source": {
                                    "type": "object",
                                    "properties": {
                                      "sourceType": {
                                        "type": "string",
                                        "enum": [
                                          "url"
                                        ]
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "url": {
                                        "type": "string"
                                      },
                                      "title": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "sourceType",
                                      "id",
                                      "url"
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "source"
                                ]
                              },
                              {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "tool-invocation"
                                    ]
                                  },
                                  "toolInvocation": {
                                    "oneOf": [
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "partial-call"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "call"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args"
                                        ]
                                      },
                                      {
                                        "type": "object",
                                        "properties": {
                                          "state": {
                                            "type": "string",
                                            "enum": [
                                              "result"
                                            ]
                                          },
                                          "step": {
                                            "type": "number"
                                          },
                                          "toolCallId": {
                                            "type": "string"
                                          },
                                          "toolName": {
                                            "type": "string"
                                          },
                                          "args": {},
                                          "result": {}
                                        },
                                        "required": [
                                          "state",
                                          "toolCallId",
                                          "toolName",
                                          "args",
                                          "result"
                                        ]
                                      }
                                    ]
                                  }
                                },
                                "required": [
                                  "type",
                                  "toolInvocation"
                                ]
                              }
                            ]
                          },
                          "description": "由不同类型的消息片段组成的数组，包括文本、推理、来源以及工具调用等。"
                        },
                        "experimental_attachments": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              },
                              "contentType": {
                                "type": "string"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url"
                            ]
                          },
                          "description": "消息的可选实验性附件数组。"
                        }
                      },
                      "required": [
                        "id",
                        "role",
                        "content",
                        "parts"
                      ]
                    },
                    "description": "会话中的消息数组。在前端通常建议使用 @ai-sdk 包中的 useChat 钩子的 handleSubmit 函数来追加用户消息并处理流式响应，而不是在此数组中手动定义对象，因为它们包含的参数较多。"
                  },
                  "retrievalPageSize": {
                    "type": "number",
                    "default": 5,
                    "description": "用于生成回复的文档搜索结果数量。数值越高，提供的上下文越多，但可能会增加响应时间。推荐值：5。"
                  },
                  "filter": {
                    "type": "object",
                    "default": null,
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "可选的版本过滤器。"
                      },
                      "language": {
                        "type": "string",
                        "description": "可选的语言过滤器。"
                      }
                    },
                    "description": "搜索的可选筛选条件。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "消息生成成功。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "包含数据流片段的响应对象，这些片段会根据指定的状态码、响应头和内容进行格式化。更多信息请参阅 AI SDK 文档：[ai-sdk.dev/docs/ai-sdk-ui/streaming-data](https://ai-sdk.dev/docs/ai-sdk-ui/streaming-data)。使用 [ai-sdk 提供的 useChat hook](https://ai-sdk.dev/docs/reference/ai-sdk-ui/use-chat#usechat) 来处理响应流。"
                }
              }
            }
          }
        }
      }
    },
    "/v2/assistant/{domain}/message": {
      "post": {
        "summary": "助手消息 v2",
        "description": "为指定域生成来自助手的回复消息。兼容 AI SDK v5 及更高版本。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "来自你的 `domain.mintlify.app` URL 的域标识符。可以在仪表盘 URL 的末尾找到。例如，`dashboard.mintlify.com/organization/domain` 的域标识符是 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "fp",
                  "messages"
                ],
                "properties": {
                  "fp": {
                    "type": "string",
                    "description": "用于跟踪会话的指纹标识符。对于匿名用户请使用 `anonymous`，或提供一个唯一的用户标识符。"
                  },
                  "threadId": {
                    "default": null,
                    "type": "string",
                    "description": "一个可选的标识符，用于在多条消息之间保持会话的连贯性。提供该标识符后，系统可以将后续消息关联到同一会话线程。当 `event.type === 'finish'` 时，响应中会以 `event.threadId` 的形式返回该 `threadId`。"
                  },
                  "messages": {
                    "type": "array",
                    "default": [
                      {
                        "id": "foobar",
                        "role": "user",
                        "parts": [
                          {
                            "type": "text",
                            "text": "How do I get started"
                          }
                        ]
                      }
                    ],
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "消息的唯一标识符。"
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "system",
                            "assistant",
                            "user"
                          ],
                          "description": "消息发送者的角色。"
                        },
                        "createdAt": {
                          "type": "string",
                          "format": "date-time",
                          "description": "消息创建时的时间戳。"
                        },
                        "parts": {
                          "type": "array",
                          "items": {
                            "oneOf": [
                              {
                                "type": "object",
                                "description": "文本内容片段。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "text"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "包含可选服务提供商元数据的推理结果片段。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "reasoning"
                                    ]
                                  },
                                  "text": {
                                    "type": "string"
                                  },
                                  "providerMetadata": {
                                    "type": "object",
                                    "description": "可选的、特定于服务提供商的元数据。"
                                  }
                                },
                                "required": [
                                  "type",
                                  "text"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "来源 URL 的引用片段。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "source-url"
                                    ]
                                  },
                                  "sourceId": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "title": {
                                    "type": "string"
                                  },
                                  "providerMetadata": {
                                    "type": "object",
                                    "description": "特定于提供方的可选元数据。"
                                  }
                                },
                                "required": [
                                  "type",
                                  "sourceId",
                                  "url"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "文件附件部分。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "file"
                                    ]
                                  },
                                  "mediaType": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  },
                                  "filename": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "type",
                                  "mediaType",
                                  "url"
                                ]
                              },
                              {
                                "type": "object",
                                "description": "标记一个新步骤的开始。",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "step-start"
                                    ]
                                  }
                                },
                                "required": [
                                  "type"
                                ]
                              }
                            ]
                          },
                          "description": "消息内容片段的数组。每个片段都有一个类型以及与该类型相关的字段。"
                        },
                        "metadata": {
                          "type": "object",
                          "description": "与消息关联的可选元数据。"
                        }
                      },
                      "required": [
                        "id",
                        "role",
                        "parts"
                      ]
                    },
                    "description": "会话中的消息数组。请使用 @ai-sdk/react 包中 useChat 钩子提供的 handleSubmit 函数来管理消息及其流式响应。"
                  },
                  "retrievalPageSize": {
                    "type": "number",
                    "default": 5,
                    "description": "用于生成回复的文档搜索结果数量。数值越高，可提供的上下文越多，但可能会增加响应时间。推荐值：5。"
                  },
                  "filter": {
                    "type": "object",
                    "default": null,
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "可选的版本筛选器。"
                      },
                      "language": {
                        "type": "string",
                        "description": "可选的语言筛选器。"
                      },
                      "groups": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "description": "用于筛选结果的可选分组标识符数组。"
                      }
                    },
                    "description": "用于搜索的可选筛选条件。"
                  },
                  "context": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "enum": [
                            "code",
                            "textSelection"
                          ],
                          "description": "提供的上下文类型。"
                        },
                        "value": {
                          "type": "string",
                          "description": "代码片段或选中文本的内容。"
                        },
                        "path": {
                          "type": "string",
                          "description": "源文件或页面的可选路径。"
                        },
                        "elementId": {
                          "type": "string",
                          "description": "包含该上下文的 UI 元素的可选标识符。"
                        }
                      },
                      "required": [
                        "type",
                        "value"
                      ]
                    },
                    "description": "提供给助手的可选上下文信息数组。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "消息已成功生成",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "与 AI SDK v5 兼容的流式响应。请使用 [@ai-sdk/react 中的 useChat hook](https://ai-sdk.dev/docs/reference/ai-sdk-ui/use-chat#usechat) 来处理响应流。"
                }
              }
            }
          }
        }
      }
    },
    "/v1/search/{domain}": {
      "post": {
        "x-mint": {
          "mcp": {
            "enabled": true
          }
        },
        "summary": "搜索文档",
        "description": "在你的文档中执行语义搜索和关键词搜索，并支持可配置的过滤和分页。",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "来自你的 `domain.mintlify.app` URL 的域标识符。你可以在控制台 URL 的末尾找到它。例如，`dashboard.mintlify.com/organization/domain` 的域标识符是 `domain`。"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "在你的文档内容中要执行的搜索查询。"
                  },
                  "pageSize": {
                    "type": "number",
                    "default": 10,
                    "description": "要返回的搜索结果数量。如果未指定，默认为 10。"
                  },
                  "filter": {
                    "type": "object",
                    "description": "用于缩小搜索结果范围的可选过滤参数。",
                    "properties": {
                      "version": {
                        "type": "string",
                        "description": "按文档版本过滤结果。"
                      },
                      "language": {
                        "type": "string",
                        "description": "按内容语言过滤结果。"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "搜索结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "content": {
                        "type": "string",
                        "description": "与你的文档中相匹配的内容。"
                      },
                      "path": {
                        "type": "string",
                        "description": "源文档的路径或 URL。"
                      },
                      "metadata": {
                        "type": "object",
                        "description": "关于搜索结果的附加元数据。"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 头部需要携带 Bearer 令牌。请使用前缀为 `mint_dsc_` 的 Assistant API 密钥。该密钥为公共密钥，可安全用于客户端代码。你可以在控制面板的 [API keys 页面](https://dashboard.mintlify.com/settings/organization/api-keys) 中生成一个。"
      }
    }
  }
}