{
  "openapi": "3.0.1",
  "info": {
    "title": "Mintlify External API",
    "description": "供 Mintlify 文档管理和资源访问使用的 API。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.mintlify.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "x-mcp": {
    "enabled": true
  },
  "paths": {
    "/project/update/{projectId}": {
      "post": {
        "summary": "触发更新",
        "description": "为你的文档项目排队一次部署更新操作。将返回一个状态 ID，用于跟踪更新进度。更新将从你配置的部署分支触发。",
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "你的项目 ID。可以从控制台中的 [API keys](https://dashboard.mintlify.com/settings/organization/api-keys) 页面复制。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "statusId": {
                      "type": "string",
                      "description": "已触发更新的状态 ID。"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/project/update-status/{statusId}": {
      "get": {
        "summary": "获取更新状态",
        "description": "根据状态 ID 获取对应更新的状态",
        "parameters": [
          {
            "name": "statusId",
            "in": "path",
            "description": "已触发更新的状态 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "成功响应",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "_id": {
                      "type": "string",
                      "description": "已触发的更新状态 ID。"
                    },
                    "projectId": {
                      "type": "string",
                      "description": "文档项 ID。"
                    },
                    "createdAt": {
                      "type": "string",
                      "description": "使用指定 UTC 日期时间的 ISODate 值。"
                    },
                    "endedAt": {
                      "type": "string",
                      "description": "使用指定 UTC 日期时间的 ISODate 值。"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued",
                        "in_progress",
                        "success",
                        "failure"
                      ],
                      "description": "更新后的状态。"
                    },
                    "summary": {
                      "type": "string",
                      "description": "状态更新的摘要。"
                    },
                    "logs": {
                      "type": "array",
                      "description": "日志数组。",
                      "items": {
                        "type": "string"
                      }
                    },
                    "subdomain": {
                      "type": "string",
                      "description": "正在更新的文档的子域名。"
                    },
                    "screenshot": {
                      "type": "string",
                      "description": "文档的截图。"
                    },
                    "screenshotLight": {
                      "type": "string",
                      "description": "文档的截图。"
                    },
                    "screenshotDark": {
                      "type": "string",
                      "description": "深色模式下的文档截图。"
                    },
                    "author": {
                      "type": "string",
                      "description": "更新后的作者。"
                    },
                    "commit": {
                      "type": "object",
                      "description": "提交的详细信息。",
                      "properties": {
                        "sha": {
                          "type": "string",
                          "description": "该提交的 SHA。"
                        },
                        "ref": {
                          "type": "string",
                          "description": "该提交的引用（ref）。"
                        },
                        "message": {
                          "type": "string",
                          "description": "提交消息。"
                        },
                        "filesChanged": {
                          "type": "object",
                          "description": "已更改文件的详细信息。",
                          "properties": {
                            "added": {
                              "type": "array",
                              "description": "新添加的文件。",
                              "items": {
                                "type": "string"
                              }
                            },
                            "modified": {
                              "type": "array",
                              "description": "已修改的现有文件。",
                              "items": {
                                "type": "string"
                              }
                            },
                            "removed": {
                              "type": "array",
                              "description": "已删除的文件。",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "source": {
                      "type": "string",
                      "description": "更新触发器的来源。",
                      "enum": [
                        "internal",
                        "github-app-installation",
                        "api",
                        "github",
                        "dashboard"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Authorization 请求头需要携带 Bearer 令牌。请使用管理员 API 密钥（以 `mint_` 开头）。这是仅供服务端使用的私密密钥。你可以在控制台的 [API 密钥页面](https://dashboard.mintlify.com/settings/organization/api-keys) 中生成一个。"
      }
    }
  }
}